/* Basic Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #222;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333;
    color: white;
    padding: 5px;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.tab-bar {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
    margin-left: 70px;
}

/* Tab styles */
.tab {
    background: #333333; /* Default gray for tabs */
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.tab:hover {
    background: #434343; /* Black background on hover */
    transform: scale(1.05); /* Slight scale effect on hover */
}

/* Active tab styles */
.tab.active {
    background: #575b5c; /* Keep default gray for active tab */
    color: white;
}

.tab.active:hover {
    background: #575b5c; /* Keep the same gray on hover */
}

/* Close button styles inside tabs */
.tab button {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
    transition: color 0.3s ease;
}

.window-controls {
    display: flex;
}

.window-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.window-controls button:hover {
    color: #fff; /* Change to white on hover */
}

.content {
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    height: 100%;
    margin-top: 50px;
}

#new-tab-btn {
    display: none;
}

/* Close button styles */
.close-btn {
    background: none;
    border: none;
    color: red; /* Light gray color */
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
}

.close-btn:hover {
    color: red; /* Slightly darker gray for hover effect */
}

.close-btn:active {
    color: red; /* Keep it the same light gray on click */
}